td {
    background: linen;
    padding: 7px;
}
th {
    background : red;
    color: black;
    padding: 7px;
}
input{
    height: 50px;
    width: 300px;
}
button{
    height: 35px;
    width: 100px;
    background: red;
    color: black;
    padding: 7px;
}